<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top d-flex">
  <div class="input-group col">
    <form class="form-inline my-2 my-lg-0" #form="ngForm">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <fa-icon class="fa fa-search" [icon]="searchIcon"></fa-icon>
          </span>
        </div>
        <input #search (keyup)="filter(search)" (keyup.enter)="choosePerson(search)" name="search" id="search"
          type="text" class="form-control" type="text" placeholder="Search">
        <div class="input-group-append" *ngIf="search.value">
          <span (click)="removeSearch(search)" class="input-group-text clear-button">
            <fa-icon class="fa fa-times-circle" [icon]="clearIcon"></fa-icon>
          </span>
        </div>

      </div>
    </form>
  </div>

  <div class="navbar-button-toggler">
    <div *ngIf="person?.name else noPerson" class="collapse navbar-collapse justify-content-end"
      id="navbarsExampleDefault" [ngbCollapse]="!isCollapse">
      <ul class="navbar-nav ml-auto">
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{person.name}}
            <img class="img-thumbnail navbar-user-image" src="{{person.img}}" alt="">
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Edit Profile</a>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>



</nav>

<ng-template #noPerson><button (click)="isCollapse = !isCollapse" class="navbar-toggler" type="button"
    data-toggle="collapse" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button></ng-template>