<div class="container-fluid sidebar" [style.marginTop]="height">
  <div class="row">
    <navbar [person]="person" (filtering)="onFiltering($event)" (choosePersonFromSearch)="onPersonChosen($event)">
    </navbar>
  </div>

  <div class="row">
    <div class="d-none d-md-block sidebar-menu p-0">
      <sidebar [people]="filteredPerson" (chosenUserFromSidebar)="onChosenUserFromSidebar($event)">
      </sidebar>
    </div>
    <div class="col">
      <profile [person]="person">
      </profile>
    </div>

  </div>
</div>