<div *ngIf="people" class="d-none d-md-block bg-light sidebar">
  <ul class="nav flex-column align-items-center">
    <div class="sidebar-heading">
      Select User
    </div>
    <li class="nav-item d-flex align-items-center justify-content-center" *ngFor="let p of people" (click)="onClick(p)">
      <a class="nav-link active" >
        {{p.name}}
      </a>
    </li>
  </ul>
</div>