.sidebar {
    display: fixed;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    overflow-x: hidden;
    overflow-y: auto;
    /* height: calc(100vh - 115px); */
    height: calc(100vh);
}


li{
    &:hover{
        background-color: #999;
    }
}
.sidebar .nav-item {
    height: 100px;
    width: 100%;
    cursor: pointer;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgb(226, 226, 226);
}